<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <article class="text-justify">
                        <p> <span class="text-info">Full Stack</span> developer with 
                            <span class="text-info">10+ years of experience</span> bridging 
                            front-end and back-end technologies to deliver efficient, 
                            scalable, and user-friendly applications. Skilled in leading 
                            teams, taking ownership of projects, and adapting to dynamic challenges.
                        </p>
                        <p> I am a <span class="text-info">charismatic</span> professional with 
                            strong <span class="text-info">leadership</span> and 
                            <span class="text-info">active listening</span> skills. I excel at 
                            both leading teams and following direction as needed. I have a solid 
                            foundation in <span class="text-info">Javascript</span> frameworks, 
                            <span class="text-info">.NET</span> technologies, and 
                            <span class="text-info">SQL</span> databases (among others). Additionally, I am 
                            experienced with cloud platforms like <span class="text-info">Azure DevOps</span> 
                            and proficient in version control using <span class="text-info">GitHub</span>.
                        </p>
                        <div class="row justify-content-end hide-on-printing">
                            <a class="text-decoration-none" data-toggle="collapse"
                                href="#collapseMoreAbout" role="button" aria-expanded="false"
                                aria-controls="collapseMoreAbout">
                                <strong>show more... </strong>
                                <i id="iCollapseMoreAbout" class="fas fa-angle-double-down"></i>
                            </a>
                        </div>
                        <div class="collapse" id="collapseMoreAbout">
                            <p>I take immense pride in my ability to follow and lead people. 
                                For one of my biggest clients, I was responsible for leading a 
                                brand-new project, including choosing people and the project's 
                                architecture. With my guidance and our strong commitment, 
                                we successfully launched that project into production and gained 
                                the trust we needed to generate new opportunities for our company.</p>
                            <p> Embracing a growth mindset, I approach every opportunity as a
                                chance to learn and tackle new programming challenges. My
                                curiosity and dedication to staying at the vanguard of
                                technological advancements enable me to continue expanding my
                                technical expertise.
                            </p>
                            <p> Above all, my unwavering commitment to quality and strong work
                                ethic drives me to deliver outstanding results, making me an
                                invaluable addition to any software development team.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
