<!-- EXPERIENCE TITLE -->
<div class="row">
    <div class="col-12">
        <div class="title"><i
                class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;Experience&nbsp;&nbsp;&nbsp;<i
                class="fas fa-user-tie"></i></div>
        <br>
    </div>
</div>

<!-- EXPERIENCE -->
<div id="experience">

     <!-- ENCORA -->
     <div class="row company">
        <div class="col-12 no-padding">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <div style="display: table-cell; min-width: 5rem;">
                                <img src="../../assets/img/companies/encora-logo/encora-logo-1.png"
                                    alt="ENCORA Logo" style="max-width: 7rem;">
                                <strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                            </div>
                            <div style="display: table-cell;">
                                <!-- <span style="white-space: nowrap;"
                                    class="text-primary font-size-sm"> 4 years as Fullstack Developer</span> -->
                                <span style="white-space: nowrap;"
                                    class="text-primary font-size-md">Full Stack Developer (1.5
                                    years)</span>

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-end text-right text-info">
                                <strong class="font-size-md">&nbsp;2023 > 2025</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 projects text-center text-uppercase hide-on-printing">
                            <span>Clients and roles</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/defi-solutions-logo-3.jpg"
                                    style="max-width: 4rem;" alt="Defi Solutions Logo">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Full Stack
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                Defisolutions offers a browser-based loan origination system (LOS) that is configurable by lenders, 
                                enabling them to manage the application lifecycle and access analytics from a single, flexible platform.
                                The company's suite of services covers the entire lending process, from loan origination to servicing and collections, 
                                providing lenders with modern, modular, and scalable solutions
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Consultoring services to help define new features and improvements.</li>
                                    <li>Supporting (in-production) releases of the diverse applications.</li>
                                    <li>Developing new features in the admin and client sites.</li>
                                    <li>Maintaining the Web APIs and its Backend to support existing and new features.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- ENCORA DETAILS -->
                    <div class="experienceDetailsEncora">
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="skills">
                                        <div class="col-12">
                                            <span class=" text-primary">Main
                                                technologies:</span>
                                        </div>
                                        <div class="col-12">
                                            <ul class="text-dark">
                                                <li><b>Frontend:</b> Angular JS, React JS.</li>
                                                <li><b>Backend:</b> .Net Framework, Entity Framework. </li>
                                                <li><b>Database:</b> SQL Server. </li>
                                                <li><b>Cloud:</b> Azure, GitHub.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <!-- <div class="col-12"><span class="text-info">Encora</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div> -->
                                <div class="col-12"><span class="text-info">Amanda Solano:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Technical Lead.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="mailto:amanda.solano@encora.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        amanda.solano&#64;encora.com</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="tel:+506-8836-3271">
                                        <i class="fa-solid fa-phone"></i>
                                        +506 8836-3271
                                    </a>
                                </div>
                                <!-- <div class="col-12">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/javieralvarezcastro/"><i
                                            class="fa-brands fa-linkedin"></i>
                                        javieralvarezcastro</a>
                                </div> -->
                            </div>
                            <div class="col">
                                <!-- <div class="col-12"><span class="text-info">Encora</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div> -->
                                <div class="col-12"><span class="text-info">Kevin Fox:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Product Owner.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" href="mailto:kevin.fox@defisolutions.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        kevin.fox&#64;defisolutions.com</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="tel:+1 (817) 715-2535">
                                        <i class="fa-solid fa-phone"></i>
                                        +1 (817) 715-2535
                                    </a>
                                </div>
                                <!-- <div class="col-12">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/gabyzuniga/"><i
                                            class="fa-brands fa-linkedin"></i> gabyzuniga</a>
                                </div> -->
                            </div>

                        </div>
                        <br class="hide-on-printing">
                        <div class="row">
                            <div class="col">
                                <!-- <div class="col-12"><span class="text-info">Encora</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div> -->
                                <div class="col-12"><span class="text-info">Felipe Chaverri:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Product Manager.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="mailto:felipe.chaverri@encora.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        felipe.chaverri&#64;encora.com</a>
                                </div>
                                <!-- <div class="col-12">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/javieralvarezcastro/"><i
                                            class="fa-brands fa-linkedin"></i>
                                        javieralvarezcastro</a>
                                </div> -->
                            </div>
                            <div class="col">
                                <!-- <div class="col-12"><span class="text-info">Encora</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div> -->
                                <div class="col-12"><span class="text-info">Ivania Montes de Oca:</span>
                                    <strong>&nbsp;|&nbsp;</strong>HR Manager.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" href="mailto:ivania.m@encora.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        ivania.m&#64;encora.com</a>
                                </div>
                                <!-- <div class="col-12">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/gabyzuniga/"><i
                                            class="fa-brands fa-linkedin"></i> gabyzuniga</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br/>
    <!-- GORRILLA LOGIC -->
    <div class="row company">
        <div class="col-12 no-padding">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <div style="display: table-cell; min-width: 5.4rem;">
                                <img src="../../assets/img/companies/Gorilla_Logo.png"
                                    alt="Gorilla Logo">
                                <strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                            </div>
                            <div style="display: table-cell;">
                                <!-- <span style="white-space: nowrap;"
                                    class="text-primary font-size-sm"> 4 years as Fullstack Developer</span> -->
                                <span style="white-space: nowrap;"
                                    class="text-primary font-size-md">Full Stack Developer (4
                                    years)</span>

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-end text-right text-info">
                                <strong class="font-size-md">&nbsp;2019 > 2023</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 projects text-center text-uppercase hide-on-printing">
                            <span>Clients and roles</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/autosoft-logo-registered.png.webp"
                                    style="max-width: 4rem;" alt="AST Logo">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Full Stack
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                Autosoft required a Senior Fullstack developer to keep
                                up-to-date its systems, even though this wasn't brand-new
                                software it required the handling of high-level complexity, and
                                the system required a great business understanding and technical
                                skills to be appropriately updated.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Maintained the main accounting website.
                                    </li>
                                    <li>Maintained and optimized Web API using Entity Framework.
                                    </li>
                                    <li>Maintained and improved the performance of stored procedures, tables, and queries.</li>
                                    <li>Consulting services for the database architecture.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/Davita_Logo.png"
                                    style="max-width: 4rem;" alt="AST Logo">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Full Stack
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                Davita was developing a brand-new product for
                                handling high-level company reports, so I was called to
                                contribute to the creation of the Data structures and Web API
                                endpoints and to support the Angular Front-end team in the
                                creation of components to manipulate the report's parameters,
                                formulas, and other user's information.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Added new features to the website to generate cutting-edge reports.</li>
                                    <li>Created brand new microservices to handle complex logic.
                                    </li>
                                    <li>Mantained the existing database to support new logic and features.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/Davita_Logo.png"
                                    style="max-width: 4rem;" alt="AST Logo">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Back-end
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                The Davita team required an experienced .Net developer, so that,
                                I was in charge of developing Web APIs for the React Team, it
                                included the generation of new Database structures, new
                                endpoints, testing, and providing Postman collections so the QA
                                team could make isolated tests.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Maintained and generated new Web APIs for the Web Team.</li>
                                    <li>Maintained and improved the performance of the database.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/ast-header-logo-2x.png"
                                    style="max-width: 4rem;" alt="AST Logo">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Front-end
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                Due to the project needs this time, I was part of the Angular
                                Team, they gave me the opportunity to display my capabilities as
                                a Front-end developer and, in return, I gave my best and all
                                that plus the effort of the team contributed to getting a
                                successful release of the MVP.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Responsible for creating a brand-new website for handling shares from private companies.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- GL DETAILS -->
                    <div class="experienceDetailsGL">
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="skills">
                                        <div class="col-12">
                                            <span class=" text-primary">Main
                                                technologies:</span>
                                        </div>
                                        <div class="col-12">
                                            <ul class="text-dark">
                                                <li><b>Frontend:</b> Angular, Typescript.</li>
                                                <li><b>Backend:</b> .Net 5, .Net Core 3, Web API, Entity Framework, ADO.NET.</li>
                                                <li><b>Database:</b> Oracle, SQL Server, PostgreSQL.</li>
                                                <li><b>Cloud:</b> Azure, Jira, Git Labs.</li>
                                                <li><b>Testing:</b> Jasmine, MSTest.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="col-12 hide-on-printing"><span class="text-info">Gorilla Logic</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div>
                                <div class="col-12"><span class="text-info">Javier
                                        ALVAREZ:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Technical Lead.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="mailto:javier.alvarez@gorillalogic.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        javier.alvarez&#64;gorillalogic.com</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/javieralvarezcastro/"><i
                                            class="fa-brands fa-linkedin"></i>
                                        javieralvarezcastro</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-12 hide-on-printing"><span class="text-info">Gorilla Logic</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div>
                                <div class="col-12"><span class="text-info">Gabriela
                                        ZÚÑIGA:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Delivery Manager.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" href="mailto:gaby.zuñiga@gorillalogic.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        gaby.zuñiga&#64;gorillalogic.com</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/gabyzuniga/"><i
                                            class="fa-brands fa-linkedin"></i> gabyzuniga</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
      <!-- S-COM -->
      <div class="row company">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <div style="display: table-cell; min-width: 5.4rem;">
                                <img src="../../assets/img/companies/Scom_logo.png"
                                    alt="S-COM Logo" style="max-width: 4rem;">
                                <strong class="text-primary">&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                            </div>
                            <div style="display: table-cell;">
                                <span style="white-space: nowrap;"
                                    class="text-primary font-size-md">Fullstack
                                    Developer (5 Years)</span>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row justify-content-end text-right text-info">
                                <span><strong class="font-size-md">&nbsp;2014 >
                                        2019</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 projects text-center text-uppercase hide-on-printing">
                            <span>Clients and roles</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/Logo-Banco-Nacioal.png"
                                    alt="BN Logo" style="max-width: 6rem;">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Team Lead & Technical Lead Fullstack
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                I was supporting the team with technical issues,
                                coordination
                                tasks, and fixing in-production issues. Since we were
                                working
                                with the SCRUM methodology we had to attend to the meetings:
                                daily, planning, and retrospective.
                                I was also in charge of a small team of 5 people.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Responsible for supporting the team with technical matters and coordination tasks.</li>
                                    <li>Dedicated to supporting production with hotfixes, bugs, and architecture issues.</li>
                                    <li>Responsible for leading a brand-new project for handling money transportation.</li>
                                    <li>Selection of personal, architecture, and technologies for the new project.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-12">
                            <h5 class="text-left text-dark font-weight-bold">
                                <img src="../../assets/img/companies/Logo-Banco-Nacioal.png"
                                    alt="BN Logo" style="max-width: 6rem;">
                                &nbsp;<i class="fa-solid fa-chevron-right fa-xs"></i>&nbsp;
                                Fullstack
                            </h5>
                            <p class="text-justify text-secondary font-weight-light hide">
                                I was a fullstack developer for the National Bank of Costa
                                Rica,
                                we were developing the most crucial internal and external
                                apps, handling the money transactions and bank resources.
                                Since
                                we were working with the SCRUM methodology we had to attend
                                to
                                the meetings: daily, planning, and retrospective.
                            </p>
                            <div class="responsibilities">
                                <h6>Responsibilities:</h6>
                                <ul class="text-dark">
                                    <li>Created new web features for the public bank site.</li>
                                    <li>Generated new Web API to support the different bank web sites.</li>
                                    <li>Mantained stored procedures, tables, and queries.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="experienceDetailsSCOM">

                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="skills">
                                        <div class="col-12">
                                            <span class=" text-primary">Main
                                                technologies:</span>
                                        </div>
                                        <div class="col-12">
                                            <ul class="text-dark">
                                                <li><b>Frontend:</b> Angular JS, ASP .NET MVC, ASP .NET.</li>
                                                <li><b>Backend:</b> .NET Framework 4.8, WCF, WWF, Enterprise Library, SSRS.</li>
                                                <li><b>Database:</b> SQL Server.</li>
                                                <li><b>Cloud:</b> TFS.</li>
                                                <li><b>Testing:</b> MS Tests.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="col-12 hide-on-printing"><span class="text-info">S-COM</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div>
                                <div class="col-12"><span class="text-info">Juan Jose
                                        GRANT:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Project Manager.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="mailto:juan.jose.grant@s-com.com"><i
                                            class="fa-solid fa-envelope"></i>
                                        juan.jose.grant&#64;s-com.com</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/juan-jos%C3%A9-grant-ot%C3%A1rola/"><i
                                            class="fa-brands fa-linkedin"></i>
                                        juan-josé-grant-otárola</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="tel:+506-2253-5656">
                                        <i class="fa-solid fa-phone"></i>
                                        (506) 2253-5656
                                    </a>
                                </div>

                            </div>
                            <div class="col">
                                <div class="col-12 hide-on-printing"><span class="text-info">Banco
                                        Nacional</span>
                                    <strong>&nbsp;|&nbsp;</strong> San Jose, Costa Rica.
                                </div>
                                <div class="col-12"><span class="text-info">Yorleny
                                        CALDERON:</span>
                                    <strong>&nbsp;|&nbsp;</strong>Project Manager.
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="mailto:ycalderon@bncr.fi.cr"><i
                                            class="fa-solid fa-envelope"></i>
                                        ycalderon&#64;bncr.fi.cr</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.linkedin.com/in/yorleny-calderon-5bb549185/"><i
                                            class="fa-brands fa-linkedin"></i>
                                        yorleny-calderon-5bb549185</a>
                                </div>
                                <div class="col-12 hide-on-printing">
                                    <a class="text-decoration-none"
                                        href="tel:+506-8836-3271">
                                        <i class="fa-solid fa-phone"></i>
                                        (506) 8836-3271
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end hide-on-printing">
                        <a class="text-decoration-none" data-toggle="collapse"
                            href="#collapseMoreExperienceUCR" role="button"
                            aria-expanded="false" aria-controls="collapseMoreExperienceUCR"
                            onclick="moveScroll()">
                            <strong>show more... </strong>
                            <i id="icollapseMoreExperienceUCR"
                                class="fas fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- UCR -->
    <div class="collapse" id="collapseMoreExperienceUCR">

        <div class="row company">
            <div class="col-12 no-padding">
                <div class="card">
                    <div class="card-header">




                        <div style="display: table-cell; min-width: 5.4rem;">
                            <img src="https://odi.ucr.ac.cr/plantillas/ucr_4/imagenes/firma-ucr-ico.png"
                                alt="UCR Logo">
                            <strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                        </div>
                        <div style="display: table-cell;">
                            <span style="white-space: nowrap;"
                                class="text-primary font-size-sm">Frontend Developer</span>
                            <strong class="font-size-sm">&nbsp;(2013 – 2014)</strong>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col-12">
                                    <span class="text-info">Universidad de Costa Rica</span>
                                    <strong>&nbsp;|&nbsp;</strong> Costa Rica.
                                </div>
                                <div class="col-12"><span class="text-info">Milena BARQUERO:
                                    </span>
                                    <strong>&nbsp;|&nbsp;</strong>Professor.
                                </div>
                                <div class="col-12">
                                    <a class="email"
                                        href="mailto:mbarquerotcu@gmail.com">mbarquerotcu&#64;gmail.com</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-left text-dark font-weight-bold">Frontend
                                </h5>
                                <p class="text-justify text-secondary font-weight-light">
                                    I developed video games with educational purposes for
                                    schools with children under poor situations.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <span class="text-black-50">Time:</span>
                                                <br>
                                                <span class="text-black-50">Team
                                                    Size:</span>
                                            </div>
                                            <div class="col-8">
                                                <span class="text-dark">~1 year</span>
                                                <br>
                                                <span class="text-dark">3 people</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="row">
                                            <span
                                                class=" text-black-50">Technologies:</span>
                                            <ul class="skills text-dark">
                                                <li>Java</li>
                                                <li>Slick 2D</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>