<div class="body">
    <main class="container-fluid">
        <div class="row">
            <div class="lateral col-12 col-md-4 col-lg-3">
                <aside>

                    <!-- PHOTO -->
                    <!-- <div class="rotate">
                      <img src="../../assets/img/foto-2.png" class="perfil-picture translate" alt="Foto de perfil">
                  </div> -->


                    <br>
                    <!-- NAME -->
                    <div class="title my-name font-size-lg">
                        <span><strong>JOSEPH CAMPOS CASTILLO</strong></span>
                    </div>
                    <div class="title font-size-lg text-info">
                        <span><strong>.Net Full Stack Developer</strong></span>
                    </div>
                    <br>

                    <!-- CONTACT INFORMATION -->
                    <div class="collapse show" id="collapsePersonal">
                        <!-- TITTLE -->
                        <!-- <div class="title">
                            <br>
                            <strong style="font-size:120%;">CONTACT INFORMATION</strong>
                            <br>
                            <hr>
                        </div> -->




                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i
                                    class="fas fa-globe-americas"></i>&nbsp;&nbsp;</div>
                            <div class="col-11">Costarrican</div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i
                                    class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;</div>
                            <div class="col-11">San José, Costa Rica</div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i
                                    class="far fa-calendar-alt"></i>&nbsp;&nbsp;</div>
                            <div class="col-11">Oct/14/1991 &nbsp;&nbsp;<strong>(33 years old)</strong></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i class="fas fa-users"></i>&nbsp;&nbsp;
                            </div>
                            <div class="col-11">Single</div>
                        </div> -->
                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i class="fas fa-phone"></i>&nbsp;</div>
                            <div class="col-11">
                                <a class="text-decoration-none" href="tel:+506-8770-8219">(506) 8770-8219</a>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i class="fab fa-skype"></i>&nbsp;</div>
                            <div class="col-11">
                                <a class="text-decoration-none" href="skype:yoajohan14@hotmail.com?userinfo">Skype
                                    Contact</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a class="text-decoration-none" href="skype:yoajohan14@hotmail.com?call">Skype Call</a>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i class="fab fa-whatsapp"></i>&nbsp;</div>
                            <div class="col-11">
                                <a class="text-decoration-none" href="https://wa.me/+50687708219">Whatsapp Message</a>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i class="far fa-envelope"></i>&nbsp;&nbsp;
                            </div>
                            <div class="col-11"><a class="text-decoration-none"
                                    href="mailto:josephcampos91@gmail.com">josephcampos91&#64;gmail.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block"><i
                                    class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;
                            </div>
                            <div class="col-11"><a class="text-decoration-none" target="_blank"
                                    href="https://www.linkedin.com/in/joseph-campos-castillo-12059066">
                                    joseph-campos-castillo</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block">
                                <img src="../../assets/img/flags/usa.png" style="max-width: 1.2rem;" alt="USA Flag">
                            </div>
                            <div class="col-11">
                                English ( C1 )
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1 d-block d-sm-none d-md-block">
                                <img src="../../assets/img/flags/spain.png" style="max-width: 1.2rem;" alt="Spain Flag">
                            </div>
                            <div class="col-11">
                                Spanish ( Native )
                            </div>
                        </div>

                    </div>

                    <!-- SKILLS -->
                    <br>
                    <br>
                    <div class="collapse show skill" id="collapseSkills">
                        <div class="row skill-title justify-content-center">
                            <div class="col justify-content-center">
                                <span>Cloud</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Azure DevOps</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Scrum / Kanban</div>
                        </div>
                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">CI-CD</div>
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Git / GitHub</div>
                        </div>

                        <div class="row">

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Jira</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">
                                <span data-toggle="toltip" dat3-placement="top" title="Team Foundation Server">TFS <i
                                        class="fas fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="row skill-title justify-content-center">
                            <div class="col justify-content-center">
                                <span>Frontend</span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Angular</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">React</div>

                        </div>

                        <div class="row">

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Typescript</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Javascript</div>

                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">ASP .NET</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">ASP .NET MVC</div>

                        </div>

                        <!-- BACKEND -->
                        <div class="row skill-title justify-content-center">
                            <div class="col justify-content-center">
                                <span>Backend</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">.Net Core</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">.Net Framework</div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">
                                <span data-toggle="toltip" dat3-placement="top" title="ASP.NET Web API">Web API <i
                                        class="fas fa-info-circle"></i></span>
                            </div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Entity Framework</div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">
                                <span data-toggle="toltip" dat3-placement="top"
                                    title="Windows Comunication Foundation">WCF
                                    <i class="fas fa-info-circle"></i></span>
                            </div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Enterprise Library</div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">
                                <span data-toggle="toltip" dat3-placement="top" title="Windows Workflow Foundation">WWF
                                    <i class="fas fa-info-circle"></i></span>
                            </div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">ADO.NET </div>
                        </div>

                        <!-- DATABASES -->
                        <div class="row skill-title justify-content-center">
                            <div class="col justify-content-center">
                                <span>Databases</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">SLQ Server</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">MySQL</div>
                        </div>

                        <div class="row">
                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Oracle</div>

                            <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">PostgreSQL</div>
                        </div>

                        <hr>

                        <!-- MORE SKILLS -->
                        <div id="collapseMoreSkills">

                            <!-- TESTING -->
                            <div class="row skill-title justify-content-center">
                                <div class="col justify-content-center">
                                    <span>Testing Frameworks</span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Jasmine / Karma</div>


                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">MSTest</div>


                            </div>

                            <div class="row">

                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">xUnit</div>


                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">nUnit</div>


                            </div>


                            <!-- UI FRAMEWORKS -->
                            <div class="row skill-title justify-content-center">
                                <div class="col justify-content-center">
                                    <span>UI Frameworks</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Bootstrap</div>


                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Kendo</div>


                            </div>

                            <div class="row">
                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Syncfusion</div>


                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Prime NG</div>


                            </div>

                            <!-- OTHERS -->
                            <div class="row skill-title justify-content-center">
                                <div class="col justify-content-center">
                                    <span>Others</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Xamarin</div>


                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">
                                    <span data-toggle="toltip" dat3-placement="top"
                                        title="SQL Server Reporting Services">SSRS
                                        <i class="fas fa-info-circle"></i></span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">Angular Material</div>

                                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-6">HTML5 / CSS3</div>


                            </div>

                        </div>
                    </div>

                    <!-- QR CODE -->
                    <div class="row justify-content-center">
                        <div class="d-none d-md-block d-lg-none col-md-9 ">
                            <br>
                            <br>
                            <p class="text-center">Take a look at the web view in order to explore more
                                details.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="d-none d-md-block d-lg-none col-md-9 ">
                            <img src="../../assets/img/new-qr-code-5.png" style="width: inherit;" class="QR-picture"
                                alt="QR Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-none d-md-block d-lg-none col-md-12 text-center">
                            <a href="https://josephcuriculumvitae.web.app">https://josephcuriculumvitae.web.app</a>
                        </div>
                    </div>

                </aside>
            </div> <!-- lateral-->
            <div class="content col-12 col-md-8 col-lg-9">
                <article>
                    <aside>
                        <div class="row">
                            <div class="col-12">
                                <br>
                                <div class="title"><i
                                        class="fas fa-id-card"></i>&nbsp;&nbsp;&nbsp;Profile&nbsp;&nbsp;&nbsp;<i
                                        class="fas fa-id-card"></i></div>
                                <br>
                            </div>
                        </div>


                        <!-- Resume Profile -->
                        <app-profile></app-profile>

                        <!-- Education Section -->
                        <app-education></app-education>

                        <!-- Experience Section -->
                        <app-experience></app-experience>

                    </aside>
                </article>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="./home.js"></script>
</div>