<!-- EDUCATION SECTION -->
<div class="row">
    <div class="col-12">
        <br>
        <div class="title"><i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Education&nbsp;&nbsp;&nbsp;<i class="fas fa-graduation-cap"></i></div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <div id="studies">
                        <div class="row studie">
                            <div class="col-12 studie-entity">Universidad Latinoamericana de Ciencia y Tecnnologia (ULACIT)</div>
                            <div class="col-3 studie-year">2022</div>
                            <div class="col-9 studie-title">Bachelor's Degree on Informatic Engineering with emphasis on Software Development</div>
                        </div>
                        <div class="studie-separator"></div>
                        <div class="row studie">
                            <div class="col-12 studie-entity">Universidad de Costa Rica (UCR)</div>
                            <div class="col-3 studie-year">2015</div>
                            <div class="col-9 studie-title">Bachelor's Degree on Business Computing</div>
                        </div>

                        <!-- MORE STUDIES -->
                        <div class="row justify-content-end hide-on-printing">
                            <a class="text-decoration-none" data-toggle="collapse" href="#collapseMoreStudies" role="button" aria-expanded="false" aria-controls="collapseMoreStudies">
                                <strong>show more... </strong>
                                <i id="iCollapseMoreStudies" class="fas fa-angle-double-down"></i>
                            </a>
                            <br>
                        </div>
                        <div class="collapse" id="collapseMoreStudies">
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">Universidad Cenfotec</div>
                                <div class="col-3 studie-year">2018</div>
                                <div class="col-9 studie-title">Xamarin Certification</div>
                            </div>
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">Natural English Institute</div>
                                <div class="col-3 studie-year">2017</div>
                                <div class="col-9 studie-title">TOEIC Certification</div>
                            </div>
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">Universidad Cenfotec</div>
                                <div class="col-3 studie-year">2016</div>
                                <div class="col-9 studie-title">AngularJs Certification</div>
                            </div>
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">International SCRUM Institute</div>
                                <div class="col-3 studie-year">2016</div>
                                <div class="col-9 studie-title">SCRUM Master Certification</div>
                            </div>
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">Universidad de Costa Rica</div>
                                <div class="col-3 studie-year">2014</div>
                                <div class="col-9 studie-title">Conversational English level 2</div>
                                <div class="col-3 studie-year">2013</div>
                                <div class="col-9 studie-title">Conversational English level 1</div>
                            </div>
                            <div class="studie-separator"></div>
                            <div class="row studie">
                                <div class="col-12 studie-entity">Liceo de Paraíso</div>
                                <div class="col-3 studie-year">2008</div>
                                <div class="col-9 studie-title">High School diploma </div>
                            </div>

                            <!-- MORE COURSES -->
                            <div class="row justify-content-end hide-on-printing">
                                <a class="text-decoration-none" data-toggle="collapse" href="#collapseMoreCourses" role="button" aria-expanded="false" aria-controls="collapseMoreCourses">
                                    <strong>even more... </strong>
                                    <i id="iCollapseMoreCourses" class="fas fa-angle-double-down"></i>
                                </a>
                                <br>
                            </div>
                            <div class="collapse" id="collapseMoreCourses">
                                <div class="studie-separator"></div>
                                <div class="row studie">
                                    <div class="col-12 studie-entity">Udemy</div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Active Listening </div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Advance Communication </div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Ask Better Questions </div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Collaboration and Emotional Intelligence </div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Advance Topics in C# </div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Mastering LINQ with C#</div>
                                </div>
                                <div class="studie-separator"></div>
                                <div class="row studie">
                                    <div class="col-12 studie-entity">Ultimate Courses</div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Angular Pro</div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Angular Fundamentals</div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Typescript Masterclass</div>
                                    <div class="col-3 studie-year"></div>
                                    <div class="col-9 studie-title">Typescript Basics</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
